button.component {
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 8px 16px;
    color          : var(--primary-color);
    border-radius  : 6px;
    line-height    : 1em;
    gap            : 8px;
    text-transform : capitalize;

    &.disabled {
        cursor: not-allowed;
        filter: grayscale(1);
    }

    &.contained {
        background-color: var(--primary-color);
    }

    &.outlined {
        border          : 1px solid var(--primary-color);
        background-color: var(--button-bg-color);
    }

    &:hover {
        background-color: var(--hover-color);
    }
}