@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@safe-width: 1280px;

:root {
    --wrapper-bg-color: #121212;
    --content-bg-color: #141414;
    --text-color      : #fff;
    --line-color      : #252527;
    --accent-color    : #C1A87D;
    --error-color     : #FF0000;
    --warning-color   : #FFA500;
    --warning-bg-color: rgba(255, 165, 0, 0.12);
    --success-color   : #00FF00;
    --popup-bg-color  : rgba(0, 0, 0, 0.5);
    --button-bg-color : rgba(193, 168, 125, 0.12);
    --hover-color     : rgba(193, 168, 125, 0.12);
    --disable-color   : rgba(255, 255, 255, 0.5);

    width : 100%;
    height: 100%;

    background-color: var(--wrapper-bg-color);
    color           : var(--text-color);

    font-family: 'Roboto', sans-serif;
    font-size  : 14px;
}

body {
    width         : 100%;
    height        : 100%;
    overflow      : hidden;
    container-type: inline-size;
}

p {
    line-height: 1.6em;
}

a {
    cursor: pointer;
}

button {
    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;
}

::placeholder {
    color: var(--disable-color);
}

.clearfix {
    &::after {
        content: '';
        display: table;
        clear  : both;
    }
}

.avatar {
    flex-shrink     : 0;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: #252527;
    background-size : cover;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'100,
        'GRAD'0,
        'opsz'24
}