.warning-message-box.component {
    display         : flex;
    background-color: var(--warning-bg-color);
    color           : var(--warning-color);
    padding         : 12px 16px;
    border-radius   : 12px;
    gap             : 12px;

    >i {
        font-size: 24px;
    }
}