.app-nav-bar.component {
    >ul {
        >.app-nav-bar-menu {
            >img {
                max-width : 30px;
                max-height: 30px;
            }

            >.icon {
                font-size: 30px;
            }
        }
    }
}